* {
	margin: 0px;
	padding: 0px;
	color: rgb(0,0,0);
}

#changeBK {
	position: fixed;
	bottom: 0px;
	left: 50%;
}

.my1{
	list-style-type:none;
        position:relative;
        left:35%;
}
.li1{
	float:left;
}

.part {
	width: 250px;
}

.part select {
	width: 200px;
}

.background {
	position:absolute;
	clip:rect(0px   1366px   768px   0px);
	width:1366px;
	heidht:768px;
	z-index: -1;
}

/* 对话框 */
.dialog {
	position: absolute;
	top: 40%;
	left: 35%;
	z-index: 10;
	width: 400px;
	height: 200px;
}

.title {
	width: 400px;
	margin: 0px auto;
	text-align: center;
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
	text-align: center;
}

.close {
	float: right;
	color: rgb(255,255,255);
}

.close:hover {
	cursor: pointer;
}

.content {
	width: 400px;
	margin: 0px auto;
	text-align: center;
	color: rgb(0, 255, 255);
}